<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head></head>
<body>
</body>
<footer th:fragment="footer" class="navbar-default navbar-fixed-bottom">
	<!-- <div class="footer" style="position: fixed; left: 0; bottom: 0; width: 100%; background-color: #f5f5f5; border: 1px solid #ddd; text-align: center;">
	  <p>&copy; 2018 The Leave Management System</p>
	</div> -->
  <div class="container-fluid" style="text-align: right">
    <span>&copy; 2018 The Leave Management System</span>
  </div>
	
	<!-- jQuery -->
	<script th:src="@{/vendor/jquery/js/jquery.min.js}"></script>
	
	<!-- Bootstrap Core JavaScript -->
	<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
	
	<!-- Metis Menu Plugin JavaScript -->
	<script th:src="@{/vendor/metisMenu/js/metisMenu.min.js}"></script>
	
	<!-- Custom Theme JavaScript -->
	<script th:src="@{/vendor/sb-admin-2/js/sb-admin-2.js}"></script>
	
	<!-- Moment JavaScript -->
	<script th:src="@{/vendor/moment/js/moment.min.js}"></script>
	
	<!-- Datetimepicker JavaScript -->
	<script th:src="@{/vendor/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js}"></script>
	
	<!-- Bootstrap Select JavaScript -->
	<script th:src="@{/vendor/bootstrap-select/js/bootstrap-select.min.js}"></script>
	
	<!-- DataTables JavaScript -->
	<script th:src="@{/vendor/datatables/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/vendor/datatables-plugins/js/dataTables.bootstrap.min.js}"></script>
    <script th:src="@{/vendor/datatables-responsive/js/dataTables.responsive.js}"></script>
    
    <!-- Bootstrap-Notify JavaScript -->
	<script th:src="@{/vendor/bootstrap-notify/js/bootstrap-notify.min.js}"></script>
	
	<!-- Bootstrap3-dialog JavaScript -->
	<script th:src="@{/vendor/bootstrap3-dialog/js/bootstrap-dialog.min.js}"></script>
</footer>
</html>