<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
<head th:fragment="header">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	
	<title>Leave Management System</title>
	
	<!-- Bootstrap Core CSS -->
	<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
	
	<!-- MetisMenu CSS -->
	<link th:href="@{/vendor/metisMenu/css/metisMenu.min.css}" rel="stylesheet">
	
	<!-- Custom CSS -->
	<link th:href="@{/vendor/sb-admin-2/css/sb-admin-2.css}" rel="stylesheet">
	
	<!-- Custom Fonts -->
	<link th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
</head>
<body>
</body>
</html>