<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: header"></head>
<style>
.form-group.required .control-label:after {
  content:" *";
  color:#c41111;
}
</style>
<body>
	<div id="wrapper">
		<div th:replace="common/menu :: menu"></div>
		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">Manage Employee</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
				<form action="#" th:action="@{/admin/manageemployee}" th:object="${employeeDTO}" method="post">
					<div class="panel panel-default">
						<div class="panel-heading">Manage Record</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-sm-4">
									<div th:class="${#fields.hasErrors('firstName')}? 'form-group required has-error':'form-group required'" >
										<label class="control-label" for="firstname">First Name</label> <i class="fa fa-question-circle-o" data-toggle="tooltip" title="<div class='col-sm-12' style='padding: 0px; text-align: left'>1. Length should be 4 to 32.<div><div class='col-sm-12' style='padding: 0px; text-align: left'>2. Should not contain special chars.<div>" aria-hidden="true"></i>
										<input type="text" class="form-control" th:field="*{firstName}" th:maxlength="32">
										<span class="control-label" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First Name Error</span>
									</div>
								</div>
								<div class="col-sm-4">
									<div th:class="${#fields.hasErrors('middleName')}? 'form-group has-error':'form-group'" >
										<label class="control-label" for="middleName">Middle Name</label> 
										<input type="text" class="form-control" th:field="*{middleName}" th:maxlength="32">
										<span class="control-label" th:if="${#fields.hasErrors('middleName')}" th:errors="*{middleName}">Last Name Error</span>
									</div>
								</div>
								<div class="col-sm-4">
									<div th:class="${#fields.hasErrors('lastName')}? 'form-group required has-error':'form-group required'" >
										<label class="control-label" for="lastName">Last Name</label> <i class="fa fa-question-circle-o" data-toggle="tooltip" title="<div class='col-sm-12' style='padding: 0px; text-align: left'>1. Length should be 4 to 32.<div><div class='col-sm-12' style='padding: 0px; text-align: left'>2. Should not contain special chars.<div>" aria-hidden="true"></i>
										<input type="text" class="form-control" th:field="*{lastName}" th:maxlength="32">
										<span class="control-label" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last Name Error</span>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-4">
									<div th:class="${#fields.hasErrors('empId')}? 'form-group required has-error':'form-group required'" >
										<label class="control-label" for="empId">Employee ID</label> 
										<input type="text" class="form-control" th:field="*{empId}" th:maxlength="6">
										<span class="control-label" th:if="${#fields.hasErrors('empId')}" th:errors="*{empId}">Emp Id Error</span>
									</div>
								</div>
								<div class="col-sm-4">
									<div th:class="${#fields.hasErrors('emailId')}? 'form-group required has-error':'form-group required'" >
										<label class="control-label" for="emailId">Email ID</label> 
										<input type="text" class="form-control" th:field="*{emailId}" th:maxlength="255">
										<span class="control-label" th:if="${#fields.hasErrors('emailId')}" th:errors="*{emailId}">Email Id Error</span>
									</div>
								</div>
								<div class="col-sm-4">
									<div th:class="${#fields.hasErrors('designation')}? 'form-group required has-error':'form-group required'" >
										<label class="control-label" for="designation">Designation</label>
										<select class="form-control selectpicker" th:field="*{designation}"
											data-live-search="true" title="select value">
											<option th:value="'Jr. Software Engineer'">Jr. Software Engineer</option>
											<option th:value="'Software Engineer'">Software Engineer</option>
											<option th:value="'Sr. Software Engineer'">Sr. Software Engineer</option>
										</select>
										<span class="control-label" th:if="${#fields.hasErrors('designation')}" th:errors="*{designation}">Designation Error</span>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-4">
									<div th:class="${#fields.hasErrors('gender')}? 'form-group required has-error':'form-group required'" >
										<label class="control-label" for="gender">Gender</label>
										<div class="radio">
											<label> 
												<input type="radio" th:field="*{gender}" value="Male"> Male
											</label> 
											<label style="margin-left: 5px"> 
												<input type="radio" th:field="*{gender}" value="Female"> Female
											</label>
										</div>
										<span class="control-label" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}">Gender Error</span>
									</div>
								</div>
								<div class="col-sm-4">
									<div th:class="${#fields.hasErrors('dob')}? 'form-group required has-error':'form-group required'" >
										<label class="control-label" for="dob">DOB</label>
										<div class="input-group date" id="dobpicker">
											<input type="text" class="form-control" th:field="*{dob}"/> <span
												class="input-group-addon"> <span
												class="glyphicon glyphicon-calendar"> </span>
											</span>
										</div>
										<span class="control-label" th:if="${#fields.hasErrors('dob')}" th:errors="*{dob}">DOB Error</span>
									</div>
								</div>
								<div class="col-sm-4">
									<div th:class="${#fields.hasErrors('joiningDate')}? 'form-group required has-error':'form-group required'" >
										<label class="control-label" for="joiningdatepicker">Join Date</label>
										<div class="input-group date" id="joiningdatepicker">
											<input type="text" class="form-control" th:field="*{joiningDate}"/> <span
												class="input-group-addon"> <span
												class="glyphicon glyphicon-calendar"> </span>
											</span>
										</div>
										<span class="control-label" th:if="${#fields.hasErrors('joiningDate')}" th:errors="*{joiningDate}">DOB Error</span>
									</div>
								</div>
							</div>
							<hr />
							<div class="row">
								<div class="col-sm-4">
									<div th:class="${#fields.hasErrors('empAddr.address1')}? 'form-group required has-error':'form-group required'" >
										<label class="control-label" for="empAddr.address1">Address Line 1</label>  <i class="fa fa-question-circle-o" data-toggle="tooltip" title="<div class='col-sm-12' style='padding: 0px; text-align: left'>1. Length should be 4 to 32.<div><div class='col-sm-12' style='padding: 0px; text-align: left'>2. Allowed special chars - # _ ,<div>" aria-hidden="true"></i>
										<input type="text" class="form-control" th:field="*{empAddr.address1}" th:maxlength="50">
										<span class="control-label" th:if="${#fields.hasErrors('empAddr.address1')}" th:errors="*{empAddr.address1}">Address Line 1 Error</span>
									</div>
								</div>
								<div class="col-sm-4">
									<div th:class="${#fields.hasErrors('empAddr.address2')}? 'form-group required has-error':'form-group required'" >
										<label class="control-label" for="empAddr.address2">Address Line 2</label> 
										<input type="text" class="form-control" th:field="*{empAddr.address2}" th:maxlength="50">
										<span class="control-label" th:if="${#fields.hasErrors('empAddr.address2')}" th:errors="*{empAddr.address2}">Address Line 2 Error</span>
									</div>
								</div>
								<div class="col-sm-4">
									<div th:class="${#fields.hasErrors('empAddr.city')}? 'form-group required has-error':'form-group required'" >
										<label class="control-label" for="empAddr.city">City</label> 
										<select
											class="form-control selectpicker" title="select value" th:field="*{empAddr.city}">
											<option th:value="'Ahmedabad'">Ahmedabad</option>
											<option th:value="'Rajkot'">Rajkot</option>
											<option th:value="'Surat'">Surat</option>
										</select>
										<span class="control-label" th:if="${#fields.hasErrors('empAddr.city')}" th:errors="*{empAddr.city}">City Error</span>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-4">
									<div th:class="${#fields.hasErrors('empAddr.state')}? 'form-group required has-error':'form-group required'" >
										<label class="control-label" for="empAddr.state">State</label> 
										<select
											class="form-control selectpicker" title="select value" th:field="*{empAddr.state}">
											<option th:value="'Gujarat'">Gujarat</option>
											<option th:value="'Maharashtra'">Maharashtra</option>
											<option th:value="'Delhi'">Delhi</option>
										</select>
										<span class="control-label" th:if="${#fields.hasErrors('empAddr.state')}" th:errors="*{empAddr.state}">State Error</span>
									</div>
								</div>
								<div class="col-sm-4">
									<div th:class="${#fields.hasErrors('empAddr.country')}? 'form-group required has-error':'form-group required'" >
										<label class="control-label" for="empAddr.country">Country</label> 
										<select
											class="form-control selectpicker" title="select value" th:field="*{empAddr.country}">
											<option th:value="'India'">India</option>
											<option th:value="'USA'">USA</option>
										</select>
										<span class="control-label" th:if="${#fields.hasErrors('empAddr.country')}" th:errors="*{empAddr.country}">Country Error</span>
									</div>
								</div>
								<div class="col-sm-4">
									<div th:class="${#fields.hasErrors('empAddr.zipCode')}? 'form-group has-error':'form-group'" >
										<label class="control-label" for="empAddr.zipCode">ZipCode</label> 
										<input type="text" class="form-control" th:field="*{empAddr.zipCode}" th:maxlength="6" placeholder="6 digits">
										<span class="control-label" th:if="${#fields.hasErrors('empAddr.zipCode')}" th:errors="*{empAddr.zipCode}">ZipCode Error</span>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-4">
									<div th:class="${#fields.hasErrors('cellNo')}? 'form-group required has-error':'form-group required'" >
										<label class="control-label" for="cellNo">Mobile No</label> <input
											type="text" class="form-control" th:field="*{cellNo}" th:maxlength="10" placeholder="10 digits">
										<span class="control-label" th:if="${#fields.hasErrors('cellNo')}" th:errors="*{cellNo}">Cell No Error</span>
									</div>
								</div>
								<div class="col-sm-4">
									<div th:class="${#fields.hasErrors('workPhoneExt') or #fields.hasErrors('workPhone')}? 'form-group has-error':'form-group'" >
										<div class="col-sm-4" style="padding-left: 0px">
											<label class="control-label" for="workPhoneExt">Work Phone</label> 
											<input th:type="text" class="form-control" th:field="*{workPhoneExt}" th:maxlength="4" placeholder="Ext">
										</div>
										<div class="col-sm-8" style="padding: 0px">
											<label class="control-label" for="workPhone"></label> 
											<input type="text" class="form-control" th:field="*{workPhone}" th:maxlength="10" style=" margin-top: 5px;">
										</div>
										<div th:if="${#fields.hasErrors('workPhoneExt')}">
											<span class="control-label" th:errors="*{workPhoneExt}">Work Phone Ext Error</span>
										</div>
										<div th:unless="${#fields.hasErrors('workPhoneExt')}">
											<span class="control-label" th:if="${#fields.hasErrors('workPhone')}" th:errors="*{workPhone}">Work Phone Error</span>
										</div>
									</div>
								</div>
							</div>
							<hr />
							<div class="row">
								<div class="col-sm-12 text-center">
									<button type="submit" class="btn btn-primary">Submit</button>
									<button type="button" class="btn btn-default"
										style="margin-left: 10px">Cancel</button>
								</div>
							</div>
						</div>
					</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
<footer th:replace="common/footer :: footer"></footer>
<script type="text/javascript">
	$(function () {
		$('#dobpicker').datetimepicker({
			format: 'DD/MM/YYYY',
			viewMode: 'years'
		});
		$('#dobpicker').datetimepicker("maxDate",moment());
		$('#joiningdatepicker').datetimepicker({
			format: 'DD/MM/YYYY',
			maxDate: moment().add(15, 'days')
		});
		$('[data-toggle="tooltip"]').tooltip({template: "<div class='tooltip row' role='tooltip'> <div class='arrow col-sm-12'></div> <div class='tooltip-inner col-sm-12'> </div> </div>", html: true, placement: "right"}); 
	});
</script>
</html>
